body, html {
    height: 100%;
}

.custom-bg {
    /* The image used */
    background-image: url("../img/bg.jpg"), none;

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Фиксируем фон веб-страницы */
    background-attachment: local;
}